* {
  margin: 0%;
  padding: 0%;
}
.hide{
  display:none;
}
.contenedorbtn{
    display:flex;
    background: blueviolet;
    justify-content: space-evenly;
    }

.navOpciones{
    display: flex;
}
.titulo{
    font-size:10px;
} 
.contenedorSeries,
.contenedorPeliculas{
    display:flex;
    flex-direction: column;
    background-color:gainsboro;

    }


.headerPeliculas,
.headerSeries{
  display: flex;
  background-color: antiquewhite;
    justify-content: space-around;
}

.mostrarPelicula,
.mostrarSeries {
display: flex;
flex-flow: wrap;
}

.cajas {
  width: 250px;
 height: 350px;
  background-size:cover;
background-position: bottom;
margin:5px;
border-radius: 10px;
}

.todasPeliculasCss,
.todasSeriesCss{
  display: flex;
    flex-flow: wrap;
}