* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: sans-serif;
}
.hide{
  display:none;
}
.contenedorbtn{
    display:flex;
    background:black;
    justify-content: space-evenly;
    }
.cabecera{
  display: flex;
  margin-top: 15px;
}
.btn-buscar, 
.Movies,
.TvSerie,
.titulo1{
  padding: 5px;
  font-size: 20px;
  color: #cccccc;
  border: none;
  border-radius: 4px;
  margin: 10px;
  text-decoration: none;
}

.navOpciones{
  display: flex;
  list-style: none;
  color: azure;
  font-size: 20px;
}

.titulo-panel2{
  margin: 0 0 10px;
    font-size: 30px;
    color: #3eb495;
    font-family: montserrat;
}
.descripcion-panel{
  font-size: 20px;
  color: #fff;
}
.contenedorSeries,
.contenedorPeliculas{
    display:flex;
    flex-direction: column;
    background-color:gainsboro;

    }

    .contenedor {
      width: 100%;
      position: relative;
      height: 100%;
    }
    .verMas{
      text-decoration: none;
      color: black;
      display: flex;
      margin-right: 27px;
      justify-content: flex-end;
    }

    .botones {
      font-size: 50px;
      width: 70px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      color: #fff;
       box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); 
       border-radius: 50%;
    }
    .headerContenedor {
      position: relative;
      margin-top: 5px;
    }
    .botones:hover {
      cursor: pointer;
      transform: scale(1.2, 1.2);
    }
    .atras,
    .adelante {
      margin-top: -300px;
      z-index:1;
     }
    .btnAdelanteAtras{
      display: flex;
      justify-content: space-between;
    }
    .imagenCss{
      width: 100%;
      height: 550px;
      z-index: 3;
      
      
    }
.headerPeliculas,
.headerSeries{
  display: flex;
 justify-content: space-around;
}

.mostrarPelicula,
.mostrar-series,
.todasPeliculasCss,
.todasSeriesCss {
display: flex;
flex-flow: wrap;
justify-content: center;

}
.cajas {
  width: 250px;
 height: 350px;
background-size:cover;
background-position: bottom;
margin:5px;
border-radius: 10px;
}
.divTituloDisc{
  display: flex;
  flex-direction: column;

}
.divContenedor{
  display: flex;
  margin: 70px;
}
.titulo{
  font-size:40px;
  color: mediumslateblue;
}
.descripcion{
  font-size: 24px;
  margin-top: 15px;
}
.imagenes{
  width: 400px;
  background-size: cover;
  background-position: bottom;
  margin: 15px;
  border-radius: 10px;
  background-size: cover;
}
.panelDerecha {
  height: 99%;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 33%;
  padding: 0px 30px;
}
.TvSerie:hover{
  color: white;
}
.titulo1:hover{
  color: white;
}
.btn-buscar:hover{
  color: white;
 } 
.Movies:hover{
  color: white;
}
.input-busqueda{
  font-size: 20px;
}
@media screen and (min-width:1025px){
  .titulo1, .btn-buscar,.Movies, .TvSerie, .input-busqueda{
    font-size: 28px;
  }
  .descripcion-panel{
    font-size: 22px;
  }
  .titulo-panel2{
    font-size: 25px;
  }
  .verMas{
    font-size:x-large;
  }
}

@media screen and (max-width:1024px)and (min-width:376px){
  .titulo1, .btn-buscar,.Movies, .TvSerie{
    font-size: 25px;
  }
  .cajas{
    width: 230px;
    height: 330px;
  }
  .input-busqueda{
    font-size: 30px;
  }
  .atras, .adelante{
    margin-top: -340px;
  }
  .descripcion-panel{
    font-size: 25px;
  }
  .titulo-panel2{
    font-size: 35px;
  }
  .verMas, .t-movies, .t-series{
    font-size: 30px;
    text-align: center;
  }
  .divContenedor{
    flex-direction: column;
  }
  .imagenes{
    width: 600px;
    margin-left: 150px;
    margin-top: 30px;
  }
  .descripcion{
    font-size: 30px;
  }
  .titulo{
    text-align: center;
  }
}
@media screen and (max-width:375px){
  .TvSerie, .Movies, .titulo1, .btn-buscar, .input-busqueda{
    font-size: 10px;
  }
  .verMas{
    font-size: small;

  }
  .imagenCss{
  height: 200px ;
  }
  .adelante, .atras{
    margin-top: -140px;
    font-size: 30px;
  }
  .panelDerecha{
    display: none;
  }
  .headerPeliculas, .headerSeries, .t-movies, .t-series{
    font-size: 11px;
    text-align: center;
  }
  .cajas{
    width:100px;
    height:120px;
  }
  .divContenedor{
    flex-direction: column;
    margin: 30px;
  }
  .titulo{
    font-size: 20px;
    text-align: center;
  }
  .descripcion{
    font-size: 15px;
  }
  .imagenes{
    width: 310px;
    height: 400px;
    margin: 0em;
    margin-top: 15px;
  }
}





