* {
  margin: 0%;
  padding: 0%;
}
.hide{
  display:none;
}
.contenedorbtn{
    display:flex;
    background: blueviolet;
    justify-content: space-evenly;
    }
.cabecera{
  display: flex;
}
.btn-buscar,
.titulo1{
  padding: 5px;
  font-size: 20px;
  color: #fff;
  background-color: #222222;
  border: none;
  border-radius: 4px;
  margin: 10px;
 
}
.input-busqueda{
  font-size: 20px;
}

.navOpciones{
    display: flex;
}
.titulo-panel2{
  margin: 0 0 10px;
    font-size: 30px;
    color: #3eb495;
    font-family: montserrat;
}
.descripcion-panel{
  font-size: 20px;
  color: #fff;
}
.contenedorSeries,
.contenedorPeliculas{
    display:flex;
    flex-direction: column;
    background-color:gainsboro;

    }

    body {
      font-family: sans-serif;
    }
    .contenedor {
      width: 100%;
      position: relative;
      height: 100%;
    }
    .verMas{
      text-decoration: none;
    }
    .botones {
      font-size: 50px;
      width: 70px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      position: apsolute;
      color: #fff;
       box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); 
       border-radius: 50%;
    }
    .headerContenedor {
      position: relative;
      margin-top: 5px;
    }
    .botones:hover {
      cursor: pointer;
      transform: scale(1.2, 1.2);
    }
    .atras,
    .adelante {
      margin-top: -300px;
      z-index:1;
     }
    .btnAdelanteAtras{
      display: flex;
      justify-content: space-between;
    }
    .imagenCss{
      width: 100%;
      height: 550px;
      z-index: 3;
      
      
    }
.headerPeliculas,
.headerSeries{
  display: flex;
 justify-content: space-around;
 font-size:20px;
}

.mostrarPelicula,
.mostrar-series,
.todasPeliculasCss,
.todasSeriesCss {
display: flex;
flex-flow: wrap;
justify-content: center;

}
.cajas {
  width: 250px;
 height: 350px;
background-size:cover;
background-position: bottom;
margin:5px;
border-radius: 10px;
}
.divTituloDisc{
  display: flex;
  flex-direction: column;

}
.divContenedor{
  display: flex;
  margin: 70px;
}
.titulo{
  font-size:40px;
  color: mediumslateblue;
}
.descripcion{
  font-size: 24px;
  margin-top: 15px;
}
.imagenes{
  width: 400px;
  background-size: cover;
  background-position: bottom;
  margin: 15px;
  border-radius: 10px;
  background-size: cover;
}



.panelDerecha {
  height: 99%;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 33%;
  padding: 0px 30px;
}
